/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,300;1,900&display=swap');

/* --- Variables --- */
@import './vars';

/* -- Breakpoints -- */
@import './breakpoints';

/* --- components styles --- */
@import '../components/SearchBar/searchBar';
@import '../components/Header/header';
@import '../components/Home/home';
@import '../components/Weather/weather';

/* --- general styles --- */
body {
  background-color: $color;
  font-family: 'Poppins', sans-serif;
  color: $color-fnt;
  font-weight: 400;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  text-transform: uppercase;
  margin-bottom: .5rem;
}